:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

